<?xml version="1.0" encoding="utf-8" ?>

<!--
  autoReload="true": Automatically reloads the config if changes occur during runtime.
  internalLogLevel="Warn": Set internal logging level for NLog. Logs only warnings and errors related to NLog itself.
  internalLogFile="internal-nlog.txt":  Log internal NLog issues to this file, useful for debugging NLog issues.
  throwConfigExceptions="true": Throws exceptions for Nlog config errors for easier debugging.
-->

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt"
   throwConfigExceptions="true">

	<!-- Define various log targets where logs will be written -->
	<targets>
		<!--
    type="File": File Traget. Write logs to a text file.
    name="file": Name for this target. Rule section will use this name while defining rules.
    fileName="D:/Logs/nlog-all-${shortdate}.log": Path to the file where logs will be saved with date-based naming.
    layout: Log format with date, level, logger (fully qualified class name), message (actual log message), and exception details if any.
  -->
		<target xsi:type="File"
		  name="file"
		  fileName="D:/Logs/nlog-all-${shortdate}.log"
		  layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}" />

		<!--
    type="Console: Console target. Display logs in the console window.
    name="console": Name for this target. Rule section will use this name while defining rules.
    layout: Format similar to file target. If you want you can give a different format
  -->
		<target xsi:type="Console"
		  name="console"
		  layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}" />

		<!--
    type="Null": Null target. Discard logs, used to filter out logs from specific namespaces.
    name="blackhole": Any logs sent to this target will be ignored or discarded.
  -->
		<target xsi:type="Null" name="blackhole" />
	</targets>

	<!-- Define logging rules to control which logs go to which targets. Define Rules for Each Target -->
	<rules>
		<!--
    Ignore logs from Microsoft and System namespaces by sending them to the "blackhole" target
    name="Microsoft.*": Microsoft and its related namespaces
    minlevel="Information": Minimum log level, capturing all logs from Information level upwards.
    writeTo="blackhole": Send logs to the blackhole target to ignore them
    final="true": Stop further processing of logs that match this rule
  -->
		<logger name="Microsoft.*"
		  minlevel="Information"
		  writeTo="blackhole"
		  final="true" />

		<!-- 
   Filter out logs from the "System" namespace by sending them to the "blackhole" target.
   This is similar to Microsoft namespace
  -->
		<logger name="System.*"
		  minlevel="Trace"
		  writeTo="blackhole"
		  final="true" />

		<!-- 
   Send all logs with level Information or higher to the file target
   name="*": Apply this rule to all loggers or you can say all namespaces
   minlevel="Information": Minimum log level is Information
   writeTo="file": Send matching logs to the "file" target
  -->
		<logger name="*"
		  minlevel="Information"
		  writeTo="file" />

		<!-- 
   Send all logs with level Debug or higher to the console target
   name="*": Apply this rule to all loggers or you can say all namespaces
   minlevel="Debug": Minimum log level is Debug
   writeTo="console": Send matching logs to the "console" target
  -->
		<logger name="*"
		  minlevel="Information"
		  writeTo="console" />
	</rules>
</nlog>