<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt"
      throwConfigExceptions="true">

	<targets>
		<!-- AsyncWrapper: Buffers log events and writes them asynchronously -->
		<target xsi:type="AsyncWrapper" name="asyncFileWrapper">

			<!-- Wrapped File target configuration -->
			<target xsi:type="File"
			  name="file"
			  fileName="C:\Users\HP\Desktop\Dot.Net\NLogLoggingImplementationApp\NLogLoggingImplementation\Logs\nlog-all-${shortdate}.log"
			       archiveFileName="C:\Users\HP\Desktop\Dot.Net\NLogLoggingImplementationApp\NLogLoggingImplementation\Logs\archived\log_{#}.log"
        archiveEvery="Day"
        archiveNumbering="Rolling"
     archiveAboveSize="10485760"
        maxArchiveFiles="7"
     layout="${longdate}|${level:uppercase=true}|${logger}|
       ${message} ${exception:format=ToString}" />
		</target>

		<!-- Console target remains synchronous as it is fast -->
		<target xsi:type="Console"
		  name="console"
		  layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}" />

		<!-- Null target: Discard logs, used to filter out logs from specific namespaces -->
		<target xsi:type="Null" name="blackhole" />
	</targets>

	<!-- Define logging rules to control which logs go to which targets -->
	<rules>
		<!-- Filter out logs from the "Microsoft" and "System" namespaces by sending them to the "blackhole" target -->
		<logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
		<logger name="System.*" minlevel="Trace" writeTo="blackhole" final="true" />

		<!-- Send all logs with level Information or higher to the file target -->
		<logger name="*" minlevel="Information" writeTo="file" />

		<!-- Send all logs with level Information or higher to the console target -->
		<logger name="*" minlevel="Information" writeTo="console" />
	</rules>
</nlog>